---
layout: default
title: Ashley Snider for Magistrate District 6
---
<div class="bio">
  <div class="image">
    <img src="/assets/img/ashley.jpg" alt="">
  </div>
  <div class="bio-text">
    <p>I have spent my entire professional career as an <strong>advocate for working families</strong> and I will bring that passion for helping people to the Fiscal Court as your next Magistrate.  I am a proud 3rd generation union member and employee at General Electric Appliance Park.  As Political Action Coordinator for IUE-CWA Local 83761 and Financial Trustee for the Greater Louisville Central Labor Council, I have many years of <strong>experience working with local governments</strong> throughout this region. I have always supported first responders and public workers and will continue to do so as your Magistrate. I want to be <strong>YOUR VOICE</strong> on the Fiscal Court and you can always count on me to <strong>fight for what is right.</strong></p>
  </div>
</div>
<div class="people-endorse">
  <a id="people"></a>
  <h2 class="section-title">People Who Endorse Ashley</h2>
  {% for endorsement in site.data.endorsements limit:3 %}
  <div class="endorsement">
    <div class="endorsement-img-container">
      <img class="endorsement-img" src="/assets/img/{{ endorsement.photo }}.jpg" alt="">
    </div>
    <h3 class="endorsement-name">{{ endorsement.name }}</h3>
    <p class="endorsement-quote">{{ endorsement.quote }}</p>
  </div>
  {% endfor %}
</div>
<div class="issues">
  <a id="issues"></a>
  <h2 class="section-title">Issues</h2>
  <p>Shelby County is a wonderful place to live, work, and raise a family.  However, there are many issues facing our community that must be addressed in order to keep us moving in the right direction.</p>
  <div class="issue-container">
    <div class="issue-icon"><i class="fas fa-wifi"></i></div>
    <div class="issue-text">
      <h3>Expand Rural Broadband Access</h3>
      <p>Broadband needs to be extended to our rural areas. For our children, communication is key. Classrooms across the Commonwealth are using technology in all forms. Here in Shelby County, our school district has invested in one to one technology. Every child has a device. Some of our youth are not able to complete homework after school due to no internet access in their area. A child’s education should be our top priority. Moreover, Shelby citizens who would like to operate businesses from their homes are impaired. I would work to support our school district and the citizens of Shelby County by supporting the extension of Broadband.</p>
    </div>
  </div>
  <div class="issue-container">
    <div class="issue-icon"><i class="fas fa-road"></i></div>
    <div class="issue-text">
      <h3>Expedite Road Projects including Fighting for Mount Eden Road Expansion</h3>
      <p>The county roads need to be fixed and expanded. Our community is growing at a much better pace than our rural infrastructure can support. School busses, teenagers, working citizens deserve safe and reliable roads. We need to welcome the expansions to our area but keep in the mind the safety of Shelby County families, children and friends.</p>
    </div>
  </div>
  <div class="issue-container">
    <div class="issue-icon"><i class="fas fa-bus"></i></div>
    <div class="issue-text">
      <h3>Invest in our Rural Infrastructure</h3>
      <p>There needs to be a better access to transportation for our lower income residents. Not all residents in this area have access to a vehicle and some have a medical condition preventing them from even leaving their home. We must come up with a way to help each other.</p>
    </div>
  </div>
  <div class="issue-container">
    <div class="issue-icon"><i class="fas fa-ambulance"></i></div>
    <div class="issue-text">
      <h3>Support our First Responders and Public Workers</h3>
      <p>These people are the front lines of every community and we must support them in all aspects. I will always stand up for these hard-working individuals and their families.</p>
    </div>
  </div>
  <div class="issue-container">
    <div class="issue-icon"><i class="fas fa-prescription-bottle"></i></div>
    <div class="issue-text">
      <h3>Combat the Opioid Epidemic</h3>
      <p>I’d like to bring up the opioid epidemic hitting our streets. We must stop talking about these things and actually take action. Everyone loves to talk about these issues but what are we going to do about them? If elected as Magistrate I will make these issues my number one priority.</p>
    </div>
  </div>
  <div class="issue-container">
    <div class="issue-icon"><i class="fas fa-tree"></i></div>
    <div class="issue-text">
      <h3>Support our Parks System</h3>
      <p>Shelby County has one of the most extensive parks systems in the state. Funding priorities regarding our parks are a constant topic of discussion. We need to come together as a community and help solve this problem. My knowledge of monetary budgeting and how local governments work make me an excellent candidate to help with this issue. Having a fresh set of eyes on this issue is exactly what this county needs.</p>
    </div>
  </div>
  <div class="issue-container">
    <div class="issue-icon"><i class="fas fa-hands-helping"></i></div>
    <div class="issue-text">
      <h3>Our future</h3>
      <p>Expansion is key to the growth of our community, but we must do it properly and be effective. If we don’t take these matters seriously now bigger issues will arise and it shouldn’t come at the cost of our family, friends, and neighbors. Shelbyville truly is a gem and we must do everything we can to preserve its charm and provide thoughtful growth.</p>
    </div>
  </div>
</div>
<div class="group-endorse">
  <a id="groups"></a>
  <h2 class="section-title">Groups Supporting Ashley</h2>
  {% for groupendorsement in site.data.groupendorsements %}
  <div class="group-endorsement">
    <img class="group-endorsement-img" src="/assets/img/endorsements/{{ groupendorsement.photo }}.jpg" alt="">
    <h3 class="group-endorsement-name">{{ groupendorsement.name }}</h3>
  </div>
  {% endfor %}
</div>
